<div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Seng 299 Project 
                    <small>Uvic Library Study Room Secheduling System</small>
                </h1>
                <h4>Prof. Daniela Damian</h4>
                <h5>Group Members:Zheng Li 
				Tanner Zinck 
				Vallery Lancey 
				Kenneth Huang 
				Boyang Jiao 
				Frances Yu 
				</h5>
				<p>Students, faculty, and staff members of the University of Victoria will all able to use this web application to book library study rooms, projectors, and laptops. This will reduce the phone load for the library used to make reservations for the study rooms. The application will have its own accounts database system which is linked to the UVic Netlink ID system.</p>
				<p>A detailed software architecture diagram using UML will be made to illustrate the functions of the entire system. The actual implementation of this scheduling system will then be created. Once the study room scheduling system is implemented, functional and technical tests will be performed on the system, and the results will be reported.</p>
            </div>
        </div>
