<div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <small>UVic Library Study Room Scheduling System</small>
                </h1>

	<p>This web application was developed as a project for the University of Victoria course SENG 299 with Prof. Daniela Damian.</p>
	<p>This project was created by: Kenneth Huang, Boyang Jiao, Vallery Lancey, Zheng Li, Frances Yu, and Tanner Zinck.</p>
	<h5>Purpose</h5>
	<p>Students, faculty, and staff members of the University of Victoria will be able to use this web application to book library study rooms, along with projectors and laptops. This will provide an automated and accessible way for users of the library's study rooms to make reservations, reducing the workload of the library's workers.</p>
	
            </div>
</div>
