<link href="assets/css/profile.css" rel="stylesheet">
<link rel="stylesheet" href="assets/css/login.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">

          <div class="panel panel-info">
            <div class="panel-heading">
              <div style="display: inline-block" align="left"> <h3 class="panel-title">My Current Bookings</h3> </div>
              
            </div>
            
            <div class="panel-body"> ng-init="profile.getProfileInfo()">
            	<ul class="list-group">
		   <li class="list-group-item">Free Domain Name Registration</li>
		   <li class="list-group-item">Free Window Space hosting</li>
		   <li class="list-group-item">Number of Images</li>
		   <li class="list-group-item">
		      <span class="badge">New</span>
		      24*7 support
		   </li>
		   <li class="list-group-item">Renewal cost per year</li>
		   <li class="list-group-item">
		      <span class="badge">New</span>
		      Disocunt Offer
		   </li>
		</ul>
              
            </div>
                
          </div>
        </div>
      </div>
    </div>
