<link href="assets/css/profile.css" rel="stylesheet">
<link rel="stylesheet" href="assets/css/login.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="../../../assets/css/normalize.css" />


<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">

          <div class="panel panel-info">
            <div class="panel-heading">
              <div style="display: inline-block" align="left"> <h3 class="panel-title">My Current Bookings</h3> </div>
              
            </div>
            
            <div class="panel-body" ng-init="bookings.getBookingsInfo()">
            	<ul class="list-group">
            	
		   <div ng-hide="bookings.hideMessage"> You do not have any bookings. </div>

		   <li ng-repeat="n in bookings.range(0,bookings.listLength)" class="list-group-item">
		      <span class="badge" ng-click="bookings.deleteBooking(bookings.List[n].roomid,bookings.chosenDate['year'],bookings.chosenDate['month'],bookings.chosenDate['date'],bookings.List[n].startTime)" style="background-color:#dc6464; cursor:pointer;">DELETE</span>
		      <span class="badge"  data-toggle="modal" data-target="#myModal" ng-click="bookings.getOneBookingsInfo(n)" style="background-color:#5693d6; cursor:pointer;">EDIT</span>
		   Room {{ bookings.List[n].roomid }} - {{ bookings.List[n].startMonth }} {{ bookings.List[n].startDate }} from {{ bookings.List[n].startTime }} to {{ bookings.List[n].endTime }}

 		   </li>
 		   
		</ul>
              
            </div>
                
          </div>
        </div>

 <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Booking Details</h4>
      </div>
      <div class="modal-body" style="background-image:url(./../../../assets/images/popup-bg.jpg)">
         <!--  <label class="control-label col-md-4">Booking Month: {{ home.months[home.chosenDate["month"]]}}, Booking Date: {{ home.chosenDate["date"] }}</label>
          <label class="control-label col-md-3">Booking Time: {{ home.bookingTime }}, Booking Room: {{ home.bookingRoom }}</label>
          <label class="control-label col-md-2">Booked by: {{ home.someone }}</label> -->

          <div class="control-label col-md-4">

          <label style="color:#354d7d"> Booking Date:  {{ bookings.chosenDate["date"] }}</label>
          <br>

          <label style="color:#354d7d"> Booking Time: {{ bookings.List1[0].startTime }} Booking Room: {{ bookings.List1[0].roomid }} </label>

          <br>

          <label ng-hide="home.hideBookedBy;" style="color:#354d7d"> Booked by: {{ bookings.someone }}</label>

          </div>

          <div>

          
          <!-- <form class="form-horizontal " name="commentform"> -->
            <div class="form-group" ng-hide="home.hideDuration">
            <!-- <label class="control-label col-md-3">Duration (minutes)</label> -->
            <label style="color:#354d7d" ng-hide="home.hideDuration"> Duration (minutes)</label>
                <select style="position:relative; width:50px; padding-left:12px;" ng-model="duration" required>
                  <option>30</option>
                  <option>60</option>
                  <option>90</option>
                  <option>120</option>
                  <option>150</option>
          </select>
            </div>
          </div>
            <div class="checkbox">
                <label style="color:#354d7d"><input id="projector" ng-model="bookings.proj" value="1" type="checkbox">Need a projector?</label>
                 <label style="color:#354d7d"><input id="laptop" ng-model="bookings.laptop" value="1" type="checkbox">Need a laptop?</label>
            </div>
<!--            <label class="control-label" id="checkStatus" >Check Booking Status: {{ home.checkMessage }}</label>-->
              <br>
            <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="home.checkMessage = ''">Cancel</button>
        <button id="delete" style="color:white; background-color:#dc6464" type="button" class="btn btn-default" data-dismiss="modal" ng-click="bookings.deleteBooking(bookings.List1[0].roomid,bookings.chosenDate['year'],bookings.chosenDate['month'],bookings.chosenDate['date'],bookings.List1[0].startTime)">Delete</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="bookings.EditBooking(duration,bookings.List1[0].roomid,bookings.chosenDate['year'],bookings.chosenDate['month'],bookings.chosenDate['date'],bookings.List1[0].startTime)">SAVE</button>
      </div>
        
            <!-- </form> -->
      </div>
    </div>
  </div>
</div>
<!-- END MODAL -->
