<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
    <title>Create a Booking</title>
     <link rel="stylesheet" href="../../../../assets/css/bootstrap.css">
        <link rel="stylesheet" href="../../../../assets/css/1.css">
        <link rel="stylesheet" type="text/css" href="../../../../assets/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="../../../../assets/css/demo.css" />
        <link rel="stylesheet" type="text/css" href="../../../../assets/css/component.css" />
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-route.js"></script>
        <script src="//code.angularjs.org/1.2.13/angular-cookies.js"></script>


    <!-- Add main Angular app files here -->
    <script src="app/app.js"></script>
    <script src="app/app.routes.js"></script>
</head>
            
            <body>
             <div class="section">
             <h1>Making a Booking</h1>
             <h2>Room A1</h2>
             <h3>Starting from 8:00am-8:30am</h3>
                <div class="checkbox">
                <label><input type="checkbox"> I need a Laptop</label>
                </div>
                        <div class="checkbox">
                        <label><input type="checkbox"> I need a Projector</label>
                        </div>
             <button type="submit" class="btn btn-default">Confirm</button>
             <button type="submit" class="btn btn-default">Cancel</button>
            </form>
            </div>
    
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
        <script src="js/jquery.stickyheader.js"></script>
    </body>
<html>