<!-- Bootstrap core CSS -->
<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.0/css/bootstrap.css" rel="stylesheet" media="screen">


		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>UVic Library Study Room Booking System</title>
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="../../../assets/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="../../../assets/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="../../../assets/css/component.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
 
        <link rel="stylesheet" href="../../../assets/css/bootstrap.css">
        <link rel="stylesheet" href="../../../assets/css/1.css">
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-route.js"></script>
		<script src="//code.angularjs.org/1.2.13/angular-cookies.js"></script>


		<script src="app/app.js"></script>
		<script src="app/app.routes.js"></script>

		<!--link rel="stylesheet" href="css/bootstrap.css"-->
		<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->


<style>
.modal {
position: fixed;
right: o;
top: 40px;
}
.modal-header,
.btn-custom {
/*
	background: #1ABC9C;
	color: #FFF;
*/
}
.modal-body {
/*	background: #73BFC1;*/
}
.popover   {
/*
	background-color: #e74c3c;
	color: #ecf0f1;
*/
	width: 120px;
}
.popover.right .arrow:after {
/*	border-right-color: #e74c3c;*/
}
.input-group[class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
}
#checkStatus{
    color: #1ABC9C;
}

    
.chosenDate {
    text-align: right;
    color: whitesmoke;
}
</style>


	</head>


<body>
    

 
	<!--
	<div class="jumbotron">
		<h1>{{ home.title }}</h1>
		<h4>Year: {{ home.year }} Month: {{ home.months[home.month] }} Date: {{ home.date }} </h4>
	</div>
	-->
    
    <main>
         <br>
    <br>
         <br>
    <br>
         <br>
    <br>
         <br>
    <br>
        
        <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Please pick a date!
            <span class="caret"></span>
        </button>
    <ul class="dropdown-menu">
        <li ng-repeat="row in home.dates" id="{{ row['month'] }}/{{ row['date'] }}" >
            <a href="#" ng-click="home.getChosenDate(row['year'],row['month'], row['date'])" >{{ row["year"] }} {{ home.months[row["month"] ]}} {{ row["date"] }}</a>
        </li>
  </ul>
</div>
    
    
    <br>
    <br>
    
    <div class="chosenDate">

                Chosen Year: {{ home.chosenDate["year"] }}, Chosen Month: {{ home.months[home.chosenDate["month"]] }}, Chosen Date: {{ home.chosenDate["date"] }} {{ home.chosenDate["message"] }}
    </div>
    
    
    <br>
    <br
    </main>
    
    
    
    
    
    
    <!-- table -->
        <div class="component2">		
		  <table class="tableID2">
              
              <thead>
                  <tr ng-repeat="row in home.header">
                  <th ng-repeat="col in row">
                        {{ col }} 
                  </th>
                </tr>
              </thead>
              <tbody>
                  
                  <tr ng-repeat="row in home.table">

                       <td ng-repeat="col in row" class="{{ col['htmlClass'] }}"  id="{{ col['id'] }}" data-toggle="modal" data-target="#myModal" ng-click="home.click(col['id'])">
<!--                        <a  href="Book" id="{{ col['id'] }}"> {{ col["link"]}} </a>-->
                           <a id="{{ col['id'] }}"> {{ col["link"]}} </a>
                  </td>
                </tr>
              </tbody>
		      
				

		  </table>
        </div>
    
    
    
    
<!-- Button trigger modal -->
<!--
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>
-->
 <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Booking Details</h4>
      </div>
      <div class="modal-body">
          <label class="control-label col-md-4">Booking Month: {{ home.months[home.chosenDate["month"]]}}, Booking Date: {{ home.chosenDate["date"] }}</label>
          <label class="control-label col-md-3">Booking Time: {{ home.bookingTime }}, Booking Room: {{ home.bookingRoom }}</label>
          <form class="form-horizontal" name="commentform">
            <div class="form-group">
            <label class="control-label col-md-3">Duration (minutes)</label>
                <select style="position:relative; width:50px; padding-left:12px;" ng-model="duration" required>
                  <option>30</option>
                  <option>60</option>
                  <option>90</option>
                  <option>120</option>
                  <option>150</option>
		      </select>
            </div>
            <div class="checkbox">
                <label><input type="checkbox">Need a projector?</label>
                 <label><input type="checkbox">Need a laptop?</label>
            </div>
<!--            <label class="control-label" id="checkStatus" >Check Booking Status: {{ home.checkMessage }}</label>-->
              <br>
            <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="home.checkMessage = ''">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-hide={{home.hideCreateBooking}} ng-click="home.createBooking(duration)">Create Booking</button>
      </div>
        
            </form>
      </div>
    </div>
  </div>
</div>

    
    
    
    
<!--    {{ home.table }}-->
    
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
		<script src="../../../assets/js/jquery.stickyheader.js"></script>
		<script src="js/ExtractTableCell.js"></script>
</body>
</script>
</html>


