<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="assets/css/login.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head> 


<body>

    <div class="container">
        <div class="card card-container">

            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <!-- FORM -->
            <form class="form-signin">

                <input type="text" id="inputID" class="form-control" placeholder="Netlink ID*" ng-model="user.netlinkid" required autofocus>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password*" ng-model="user.password" required>
                <input type="text" id="inputStudentNum" class="form-control" placeholder="Student Number" ng-model="user.studentid">
                <input type="text" id="inputFirstName" class="form-control" placeholder="First Name*" ng-model="user.firstname" required>
                <input type="text" id="inputLastName" class="form-control" placeholder="Last Name*" ng-model="user.lastname" required>
                
				<label class="radio-inline">
				  <input type="radio" name="userType" ng-model="user.type" value="student">Student
				</label>
				<label class="radio-inline">
				  <input type="radio" name="userType" ng-model="user.type" value="faculty">Faculty
				</label>
				<label class="radio-inline">
				  <input type="radio" name="userType" ng-model="user.type" value="staff">Staff
				</label>
  
				<div class="form-group">
				  <label for="sel1">Department (select one):</label>
				  <select class="form-control" id="sel1" ng-model="user.department">
				<option>Business</option>
				<option>Education</option>
				<option>Engineering</option>
				<option>Human and Social Development</option>
				<option>Humanities</option>
				<option>Law</option>
				<option>Medical Sciences</option>
				<option>Sciences</option>
				<option>Social Sciences</option>
				
				  </select>
				  <br>
				</div>

                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" ng-click="signup.createUser(user)">Register</button>

            </form><!-- /form -->
            
        </div><!-- /card-container -->
    </div><!-- /container -->
</body>

