
.section{
   margin: auto;
   margin-top: 200px;
    width: 60%;
    border:3px solid white;
    padding: 10px;
}


#login{
	margin-top: 20px;
	width: 90px;
}

#register{
	margin-top: 20px;
	width: 90px;
}

#ROW{
	margin-right: 0px;
}
#CheckBox{
	width:800px; 
	margin:0 auto
}
label{
	color:#5392d8;
}
h1{
	color: black;
}
h2{
	color:black;
}
h3{
	color:gray;
}

